@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

canvas {
	width: 100%;
	height: 100%;
}

.main-menu {
}

.inv-option {
	padding: 10px;
	width: 100%
}

.selected {
	border: 1px solid blue;
}

app {
	display: block;
}

.html-layer {
	position:  absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

body {
	margin: 0;
}
	
.screen-text {
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	color: white;
	font-size: 20px;
}

.rotate {
	animation-name: spin;
    animation-duration: 10000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
	text-align: center;
	span {
		line-height: 5000%;
	}
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}